@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root{
  --cor-pri: #000;
  --cor-sec: #22d4fd;
  --cor-ter: #f6f6f6;
  --font-pri: "Krona One", sans-serif;
  --font-sec: "Montserrat", sans-serif;
}

a,
p,
h1 {
  color: var(--cor-ter);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--cor-pri);
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
    margin: 0 auto;
    width: 62vw;
    padding-top: 20px;
}

main {
  padding-top: 30px;
  margin: 0 auto;
  width: 70vw;
  display: flex;
  column-gap: 20px;
}

footer {
  background-color: var(--cor-sec);
  padding: 10px 0px;
  text-align: center;
}

/* HEADER */

header nav{
    display: flex;
    gap: 20px;
}

header p a {
  font-size: 1.2rem;
  color: var(--cor-sec);
}

/* MAIN */

main img {
  width: 50%;
  height: 80%;
}

.Main_Text,
.Main_Text-sb {
  margin: 0 auto;
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Main_Text h1,
.Main_Text-sb h1 {
  font-family: var(--font-pri);
  font-size: 2.2rem;
}

.Main_Text h1 span {
  color: var(--cor-sec);
}

.Main_Text p {
  font-family: var(--font-sec);
  
}

.Main_Text .btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.Main_Text .btn h2 {
  color: var(--cor-ter);
  font-weight: 600;
  font-size: 1rem;
}

.Main_Text .btn div {
  /* margin: 0 auto; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--cor-sec);
  padding: 8px 20px;
  border-radius: 4px;
}

.Main_Text .btn div:hover {
  background-color: #272727;
  cursor: pointer;
  opacity: 0.3;
}

.Main_Text .btn div img {
  width: 25px;
  height: 25px;
}

.Main_Text-sb p {
  font-family: var(--font-sec);
  color: #c6c6c6;
  line-height: 1.2;
}

/* FOOTER */

footer p {
  color: var(--cor-pri);
}


/* 

*
*
* MEDIA QUERIES - ABAIXO
*
*

*/

@media (max-width: 1080px){
  header{
    padding: 20px 0px;
    width: 80vw;
  }

  header nav{
    justify-content: center;
  }

  main{
    padding-top: 30px;
    width: 80vw;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }

  main img{
    width: 40%;
    height: 40%;
    /* order: -1; */
  }

  main .Main_Text, .Main_Text-sb{
    width: 100%;
  }

  main .Main_Text h1, .Main_Text-sb h1{
    font-size: 1.8rem;
  }
}

@media (max-width: 450px){
  header{
    margin: 5%;
    width: auto;
    padding: 10px 0px;
  }

  main{
    margin: 5%;
    width: auto;
  }
  main .Main_Text, .Main_Text-sb{
    gap: 25px;
  }
  main .Main_Text h1, .Main_Text-sb h1{
    font-size: 1.2rem;
  }

  main .Main_Text p, .Main_Text-sb p{
    font-size: 0.8rem;
  }

  main img{
    width: 250px;
    height: 250px;
    /* order: -1; */
  }
}