.container{
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
}

.principal{
    display: flex;
    flex-direction: column;
}

.principal__texto{
    display: grid;
    row-gap: 1.5rem;
}

.principal__texto__titulo{
    font-size: 2.4rem;
    line-height: 1.4;
    font-family: var(--font-primaria);
}

.principal__texto__titulo--estilo{
    color: var(--cor-secundaria);
}

.principal__texto__descricao{
    font-size: 1.4rem;
    line-height: 1.4;
}

.principal__bottons{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    width: 100%;
}

.principal__image{
    object-fit: cover;
    object-position: top center;
    width: 488px;
    height: 550px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.principal__bottons__github, .principal__bottons__linkedin, .principal__bottons__twitch{
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--cor-secundaria);
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    width: 60%;
}

.principal__bottons__github .link, .principal__bottons__linkedin .link, .principal__bottons__twitch .link{
    font-size: 1.2rem;
}

.principal{
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    column-gap: 1.5rem;
}

.principal__conteudo{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.principal__conteudo__titulo{
    font-size: 2.4rem;
    line-height: 1.2;
}

.principal__conteudo__descricao{
    font-size: 1.4rem;
    line-height: 1.5;
}

@media (max-width: 1024px){
    .container{
        width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1.5rem;
        align-items: center;
        margin: 0 auto;
        padding: 2rem 0;
    }
    .principal__image{
        width: 400px;
        height: 480px;
        border-radius: 8px;
    }
    .principal__texto{
        row-gap: 1.5rem;
        text-align: center;
    }
    .principal__texto__titulo{
        font-size: 2rem;
    }
    .principal{
        width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem 0;
        align-items: center;
    }
    .principal__conteudo{
        /* text-align: center; */
        padding: 2rem 0;
    }
    .principal__conteudo__descricao{
        font-size: 1.2rem;
        line-height: 1.4;
    }
}